@page "/"
@layout MainLayout
@rendermode InteractiveServer
@inject HodlerApiClient HodlerApi
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@using Hodler.Web.Components.Layout
@using Hodler.Web.Components.Shared

<PageTitle>Dashboard</PageTitle>

@if (_transactionReport == null)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    <div class="padding-window">
        <h1>Hello, Hodler!</h1>

        <div class="container">
            <PortifolioValueChartComponent></PortifolioValueChartComponent>
        </div>

        <div class="container">
            <PortifolioMetricsComponent TransactionsSummaryReport="_transactionReport"></PortifolioMetricsComponent>
        </div>

    </div>
}

@code {
    private TransactionsSummaryReport? _transactionReport;

    protected override async Task OnInitializedAsync()
    {
        _transactionReport = await HodlerApi.GetTransactionsSummaryReportAsync();
    }

}

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
</style>