@page "/"
@layout MainLayout
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@using System.Globalization
@using Hodler.Contracts.Portfolio.PortfolioSummary
@using Hodler.Web.Components.Layout
@using Hodler.Web.Components.Shared
@using Hodler.Web.Components.Shared.Services
@inject HodlerApiClient HodlerApi
@inject ISessionService SessionService

<PageTitle>Dashboard</PageTitle>

@if (_portfolioSummaryDto == null)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    <div class="padding-window">
        <div class="container">
            <div style="font-size: 30px;">
                <b>Hello, Hodler!</b>
            </div>
            <br/>
            <RadzenLabel Style="font-weight: lighter; font-size: 20px;" Text="Portfolio Value"></RadzenLabel>
            <RadzenText Style="font-size: 35px;" Text="@_portfolioSummaryDto.CurrentValue.ToString("C", CultureInfo.CurrentCulture)"></RadzenText>
            <PortifolioValueChartComponent></PortifolioValueChartComponent>
        </div>
        <PortifolioMetricsComponent PortfolioSummary="_portfolioSummaryDto"></PortifolioMetricsComponent>
    </div>
}

@code {
    private PortfolioSummaryDto? _portfolioSummaryDto;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var userId = SessionService.GetCurrentUserId();
            _portfolioSummaryDto = await HodlerApi.GetPortfolioSummaryAsync(userId);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
</style>