@page "/"
@layout MainLayout
@rendermode InteractiveServer
@inject HodlerApiClient HodlerApi
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]
@using Hodler.Web.Components.Layout
@using Hodler.Web.Components.Shared
@using TransactionsSummaryReport = Hodler.Web.TransactionsSummaryReport

<PageTitle>Dashboard</PageTitle>

@if (_transactionReport == null)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    <div class="padding-window">
        <div class="container">
            <PortifolioValueChartComponent></PortifolioValueChartComponent>
        </div>
        <PortifolioMetricsComponent TransactionsSummaryReport="_transactionReport"></PortifolioMetricsComponent>
    </div>
}

@code {
    private TransactionsSummaryReport? _transactionReport;

    protected override async Task OnInitializedAsync()
    {
        const string userId = "a315dad9-a26f-4047-b1c0-0133efe30d6f";
        try
        {
            _transactionReport = await HodlerApi.GetTransactionsSummaryReportAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}

<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
</style>