@page "/"
@using Hodler.Web.Components.Layout
@using Hodler.Web.Components.Shared
@rendermode InteractiveServer
@layout MainLayout

<PageTitle>Dashboard</PageTitle>

<div class="padding-window">
<h1>Hello, Hodler!</h1>

    <div class="container">
        <PortifolioValueChartComponent></PortifolioValueChartComponent>
    </div>

    <div class="container">
        <PortifolioMetricsComponent></PortifolioMetricsComponent>
    </div>

</div>
    
<style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }
</style>