@using Hodler.Web.Components.Shared

<div class="metrics">
    <MetricComponent Title="Profit/Loss" Value="+€22,500" PercentageChange="25" Tooltip="Your total profit or loss based on purchase prices"/>
    <MetricComponent Title="Taxable Amount" Value="€7,875" PercentageChange="35" Tooltip="The amount subject to capital gains tax"/>
    <MetricComponent Title="Total BTC" Value="2.5 BTC" Tooltip="The total amount of Bitcoin in your portfolio"/>
    <MetricComponent Title="Current Value" Value="€112,500" Tooltip="The current value of your Bitcoin in EUR"/>
    <MetricComponent Title="Tax-Free BTC" Value="1.8 BTC" Tooltip="Amount of Bitcoin held for over a year (tax-free in Germany)"/>
</div>

<style>
     .metrics {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         gap: 20px;
         margin-bottom: 30px;
     }
</style>