/.idea/*
/Hodler.ApiService/bin/*
/Hodler.ApiService/obj/*

/Hodler.AppHost/bin/*
/Hodler.AppHost/obj/*

/Hodler.Application/bin/*
/Hodler.Application/obj/*

/Hodler.Domain/bin/*
/Hodler.Domain/obj/*

/Hodler.Integration.ExternalApis/bin/*
/Hodler.Integration.ExternalApis/obj/*

/Hodler.Integration.DbMigration/bin/*
/Hodler.Integration.DbMigration/obj/*

/Hodler.Integration.Repositories/bin/*
/Hodler.Integration.Repositories/obj/*

/Hodler.ServiceDefaults/bin/*
/Hodler.ServiceDefaults/obj/*

/Hodler.Web/bin/*
/Hodler.Web/obj/*

/Hodler.Contracts/bin/*
/Hodler.Contracts/obj/*

obj/Hodler.Integration.Repositories.csproj.EntityFrameworkCore.targets
