

.metric strong {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.metric {
    flex: 1;
    padding: 10px;
    background-color: #f1f3f5;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
    min-width: 280px;
}

.metric:hover {
    background-color: #e2e6ea;
}

.metric strong {
    font-size: 24px;
    display: block;
    margin-top: 10px;
}

.tooltip-icon {
    margin-left: 5px;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
}

.tooltip-text {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 200px;
}

.tooltip-icon:hover + .tooltip-text {
    display: block;
}

.positive {
    color: #26b050;
}

.negative {
    color: #b02a37;
}