@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <RadzenComponents @rendermode="InteractiveServer"/>
    <main>
        @* // TODO: USER AVATAR MENU *@
        @* <div class="top-row px-4"> *@
        @*     <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        @*     <div class="avatar" @onclick="ToggleAvatarMenu"> *@
        @*         <img src="https://via.placeholder.com/40" alt="User Avatar"> *@
        @*         <div class="avatar-menu"> *@
        @*             <div><i class="fas fa-user"></i> Profile</div> *@
        @*             <div><i class="fas fa-cog"></i> Settings</div> *@
        @*             <div @onclick="ToggleDarkMode"><i class="fas fa-moon"></i> Dark Mode</div> *@
        @*             <div><i class="fas fa-sign-out-alt"></i> Logout</div> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
        <article class="content px-4">
            @Body
        </article>

        <footer>© @DateTime.Now.Year BTC Investment Tracker. All rights reserved.</footer>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


<script>
    window.toggleDarkMode = function (isDark) {
        document.body.classList.toggle('dark-mode', isDark);
    }
</script>

@code
{
    private bool _isDarkMode;
    private bool _isAvatarMenuVisible;

    private async Task ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        await JsRuntime.InvokeVoidAsync("toggleDarkMode", _isDarkMode);
    }

    private void ToggleAvatarMenu()
    {
        _isAvatarMenuVisible = !_isAvatarMenuVisible;
    }
}